---
layout: page
title: Posts
---

<div class="container-fluid container-jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="">
    </div>
  </div>
</div>

<div class="container homepage">

    <!-- <h1 class="title">
      <a href="/" class="imprint">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/761874/ohh.png" />
        {% if page.ohh_interview %}
          Our Hidden History Interviews
        {% elsif page.ohh_research %}
          Our Hidden History Original Research
        {% else %}
          Our Hidden History
        {% endif %}
      </a>
    </h1> -->

    <ul class="plain">
    {% for post in site.posts %}

      {% if displaydate.size and displaydate.size != 4 %}
        {% assign displayyear = post.displaydate | date: "%Y" %}
      {% else %}
        {% assign displayyear = post.displaydate %}
      {% endif %}

      <li>
        {% if post.ohh_interview %}
          <p>
            <span class="rounded-circle img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/761874/ohh.png" class="round" alt="our hidden history logo">
            </span>
            <small>An 'Our Hidden History' Interview</small>
          </p>
        {% endif %}
        {% if post.ohh_research %}
          <p>
            <span class="rounded-circle img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/761874/ohh.png" class="round" alt="our hidden history logo">
            </span>
            <small>'Our Hidden History' Original Research</small>
          </p>
        {% endif %}
        {% if post.douglas_valentine_collection %}
          <p>
            <span class="rounded-circle img">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/761874/ohh.png" class="round" alt="our hidden history logo">
            </span>
            <small>Douglas Valentine Collection</small>
          </p>
        {% endif %}
        <a href="{{ post.url }}">
          <h2>
            {{ post.title }}<br />
            <small>
              {{ post.author }}, {{ displayyear }}
            </small>
          </h2>
        </a>
        <div class="teaser">
          {{post.teaser}}
        </div>
        <hr />
      </li>
    {% endfor %}
    </ul>
</div>
