<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Our Hidden History - Document Search</title>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
  <link rel='stylesheet prefetch'
        href='{{site.baseurl}}/dist/style.css?{{ site.time }}'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ourhiddenhistry">
  <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/dist/img/ourhiddenhistory-twitter.png" />
  <meta name="twitter:image" content="Our Hidden History logo, black background with historical photographs." />
  <meta property="og:site_name" content="Our Hidden History" />
  <meta property="og:title" content="Our Hidden History Documents Database" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}" />
  <meta property="og:image" content="{{site.url}}{{site.baseurl}}/dist/img/ourhiddenhistory-twitter.png" />
  <meta property="og:description"
        content="A Database of Cold War and Post-Cold War History. Searchable historical government documents, books, and more." />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body translate="no">
  <div class="{{ page.app }}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="rounded-circle img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/761874/ohh.png" class="round" alt="our hidden history logo">
      </div>
      <!-- <a class="navbar-brand" href="/">
        Our Hidden History
      </a> -->
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}">
              <i class="fa fa-home" aria-hidden="true"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/docsearch.html">
              <i class="fa fa-search" aria-hidden="true"></i>
              Doc Search
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/documents-list.html">
              <i class="fa fa-list" aria-hidden="true"></i>
              Documents List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCbfzszfxZr4qmeZjZ_3R_Pw">
              <i class="fa fa-podcast" aria-hidden="true"></i>
              Audio/Video
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/about.html">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              About
            </a>
          </li>
        </ul>
        <div class="btn btn-sm disabled docsearch__indexed-cnt"></div>
      </div>
    </nav>

<!--
    <div class="alert alert-warning mb-0" role="alert">
      The index is rebuilding. It should be close to 7,000,000 pages when complete. <strong>Thank you for your patience.</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="docsearch__index-progress progress">
        <div class="index-progress-js progress-bar bg-warning" data-index-size="6986291" role="progressbar" style="width: 0%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  -->
    <div id="alert-limit" class="alert alert-info mb-0" style="display: none" role="alert">
      Your search is currently limited to documents from the <strong class="limited-to"></strong> collection. <a href="#" class="remove-collection-limit-js">Click here to search the entire index</a>.
    </div>    
